.dere-izqui{
    background-color: tomato;
}
.contene-izqui-dere{
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    background-color: aqua;
}   

#abajo{
display: flex;
justify-content: center;
background-color: cadetblue;
}
body {
    background-image: url('../image/vocaloid-cute.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}